@media only screen and (max-width: 1000px) {

	body {
		font-size: 2em;
	}
	
	.navigation-holder {
		width: 930px;
		height: auto;
	}
		
	.navigation-holder .nav-item {
		width: 270px;
		background-repeat: no-repeat;
		background-position: center;
		float: left;
		margin: 1%;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
	}
	
	.simple-page .container-cute .text { 
		width: 100%;
		clear: both;
		float: none;
	}
	
	.simple-page .container-cute .image {
		width: 100%;
		clear: both;
		float: none;
	}
}
